@charset "ISO-8859-1";


*{
	margin:0;
}
html{
	scroll-behavior:smooth;
}
h1{
	text-decoration:none;
}
.navbar{
	background-color:black;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin:0;
	/*padding:30px;*/
}

h1{
	font-size: x-large;
	font-family: 'Syncopate', sans-serif;
	color:white;
	font-weight:700;
	padding:10px;
	
}
body {
	background-color: #f5F5F5;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	margin: 0;
}

.logo {
	display: inline-block;
	margin: 15px, 15px;
	text-align: center;
	position: center;
}

.carousel-container {
	min-width: auto;
	min-height: auto;
	margin-bottom: 30px;
	position: relative;
	color: white;
}

div.forme1, div.forme2 {
	display: table-cell;
	vertical-align: top;
	width: 300px;
	height: 300px;
	text-align: left;
	min-height: auto;
	padding: 100px;

	margin: 10px 10px;
	background: rgb(109, 149, 252);
	outline: none;
	box-sizing: border-box;
	color: #fff;
	justify-content: center;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	color: white;
}
div.button{
	margin-top: 1rem;
	    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow,filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #616467;
	box-shadow: inset 0 0 0 2px #616467;
	background-color: transparent;
	height: 48px;
}

button :hover {
	color: #fff;
	background-color: #616467;
}

.form-card {
	background-color: none;
	border: 1px solid #6a5acd82;
	display: flex;
	width: auto;
	padding-left: 15rem;
	padding: 2%;
	height: auto;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: stretch /* 	margin-top: 15rem;
    margin-left: 25rem;
    height: 95px; */
}